<head>
</head>

<!-- <body>

    <table class="table table-striped">
      <thead>
        <tr>
          <div class="col-md-5"><th> Turkish Vocab/Phrase </th> </div>
          <div class="col-md-5"><th> English Vocab/Phrase </th> </div>
          <div class="col-md-2"><th> Part of Speech </th> </div>
        </tr>

        <tr>
        <th> <% @vocabs.each do |word| %> </th>
        <div class="col-md-5"> <th> <%= word[:TurkishWP] %> </th> </div>
        <div class="col-md-5"> <th><%= word[:EnglishWP] %> </th> </div>
        <div class="col-md-2"> <th><%= word[:part_of_speech] %> </th> </div>
        <th> <% end %> </th>
        </tr>
    </thead>
  </table>
</body> -->



<body>


  <h3>Vocab List</h3>
  <!-- <h3>Kelime Hazinesi Listesi</h3> -->

    <form class="vocab_search_field">
      <input type="text" placeholder="learn a new word..." required>
      <input type="button" value="Search">
    </form>

    <div class="row">
      <div class="col-md-5"> <h5>Turkish Vocab/Phrase</h5> </div>
      <div class="col-md-5"> <h5>English Vocab/Phrase</h5> </div>
      <div class="col-md-2"> <h5>Part of Speech</h5> </div>
    </div>

    <div class="row">
      <% @vocabs.each do |word| %>
      <div class="col-md-5"> <h6> <%= word[:TurkishWP] %> </h6> </div>
      <div class="col-md-5"> <h6> <%= word[:EnglishWP] %> </h6> </div>
      <div class="col-md-2"> <h6> <%= word[:part_of_speech] %> </h6> </div>
      <% end %>
    </div>
</body>
